<footer class="page-footer font-small blue bg-dark" style="color:white;">
    <div class="footer-copyright text-center py-3">
      <a href="https://www.linkedin.com/in/akash-sardar-118858184/" style="margin: 8px; text-decoration: none; color:rgb(0, 227, 235)" class="fa fa-linkedin"></a>
      <a href="https://github.com/ACashSardar" style="margin: 8px; text-decoration: none; color:rgb(255, 255, 255)" class="fa fa-github"></a>
      <a href="https://www.facebook.com/akash.sardar.1717" style="margin: 8px; text-decoration: none; color:rgb(150, 255, 0)" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/lazer.kitty/" style="margin: 8px; text-decoration: none; color:rgb(255, 0, 234)" class="fa fa-instagram"></a>
      <a href="https://twitter.com/AkashSa50571000" style="margin: 8px; text-decoration: none; color:rgb(0, 128, 248)" class="fa fa-twitter"></a>
      <br>
      Copyright © 2022 Akash Sardar, All rights reserved.
    </div>   
  </footer>
</body>
</html>