{% include 'header.html' %}
    <title>WeatherPage</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fa fa-leaf" aria-hidden="true" style="color:greenyellow"></i> News&Weather.com</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'General' %}">General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Business' %}">Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Entertainment' %}">Entertainment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Science' %}">Science</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Health' %}">Health</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Sports' %}">Sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CategoryNews' 'Technology' %}">Technology</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/Weather/">Weather Forecast</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Livenews/">Live News</a>
              </li>
            </ul>

            <form class="d-flex" action="/Weather/" method="POST">
              {% csrf_token %}
              <input class="form-control me-2" type="search" name="cityname" placeholder="Enter an address" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container-fluid" style="overflow: hidden;">
        <div class="row p-2">

            {% if address %}
            <div class="container-fluid">
                <h4><i class="fa fa-map-marker" aria-hidden="true"></i> {{address.title}}</h4>
            </div>
            {% endif %}

            {% for current_day,icon,sky_condition,day_temp,temp_max,temp_min,humidity,wind_speed in weather_data %}
                <div class="col-xl-3 col-6 p-1">
                    <div class="card">
                        <div class="card-body text-light" style="background: darkcyan">
                            <h2 class="card-title">{{current_day}}</h2>
                            <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Poster not available">                        
                            <label class="card-title" style="font-size:large">{{day_temp}}°C</label>
                            <h5 class="card-text">{{sky_condition.capitalize}}</h5> 
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>Max Temp</strong>: {{temp_max}}°C </p>
                            <p class="card-text"><strong>Min Temp</strong>: {{temp_min}}°C </p>
                            <p class="card-text"><strong>Humidity</strong>: {{humidity}}% </p>
                            <p class="card-text"><strong>Wind-speed</strong>: Upto {{wind_speed}} mph  </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    <br>

  {% if address %}
    {% include 'footer.html' %}
  {% endif %}
